table {
<<<<<<< HEAD
	background-color: orange;
  	padding: 40px;
  	margin: 10px;
  	margin: 0 auto;
  	display: block;
  	border: 3px solid #000;
=======
	background-color: yellow;
  	padding: 0;
  	margin: 0;
  	border: 5px solid red;
>>>>>>> dev
}