table { 
  font-family: arial;
  background-color: orange;
  padding: 1000px;
  margin: 7px;
  border: 1px solid blue;
  border-spacing: 7px;
}

td {
  padding: 2%;
}

tr { 
  font-weight: 700;
}

h1 {
  font-size:25px;
}

form.login-form {
  width: 400px;
  border: 1px solid blue;
  padding: 20px;
  margin: 0 auto;
}

form.login-form div input[type="text"], form.login-form div input[type="password"] {
  width: 100%;
}

form.login-form div {
  margin: 10px 0;
}

div img {
  padding:20px;
  width: 250px; 
}

h2 {
  text-align: center;
}

.leftimg {
  float: left;
  margin: 5px; 5px; 5px; 0;
}

.tablemin {
  background-color: #FFFFFF;
  font-family: comic sans ms;
  font-size:14px;
  border-collapse: collapse;
  text-align:left;
  border: 0;
}

th {
  padding: 15px 20px;
}

td {
  font-weight: normal;
  padding: 10px 15px;
  border-top: 1px solid #e8edff;
}

